@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);


body
{
background-color: #fff;
margin: 0;
padding: 0;
}

#greenOne
{
width: 100%;
height: 40px;
background-color: rgb(125,191,81);
}

a.nav
{
float: right;
text-align: center;
line-height: 40px;
text-decoration: none;
padding: 0 25px;
font-family: 'Roboto Slab', sans-serif;
background-color: rgb(146,206,106); 
font-size: 13px;
text-transform: uppercase;
letter-spacing: 1px;
color: #3c5d21;
}

a.nav1
{
float: left;
text-align: center;
line-height: 40px;
text-decoration: none;
padding: 0 25px;
font-family: 'Roboto Slab', sans-serif;
background-color: rgb(146,206,106); 
font-size: 13px;
text-transform: uppercase;
letter-spacing: 1px;
color: #3c5d21;
}

#contentWrapper
{
width: 100%;
height: 720px;
background: #6ba63a;
background: -moz-linear-gradient(top,  #6ba63a 0%, #4b8936 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6ba63a), color-stop(100%,#4b8936));
background: -webkit-linear-gradient(top,  #6ba63a 0%,#4b8936 100%);
background: -o-linear-gradient(top,  #6ba63a 0%,#4b8936 100%);
background: -ms-linear-gradient(top,  #6ba63a 0%,#4b8936 100%);
background: linear-gradient(to bottom,  #6ba63a 0%,#4b8936 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ba63a', endColorstr='#4b8936',GradientType=0 );
}

#contentWrapper
{
width: 100%;
background-color: white;
}

#content
{
width: 800px;
margin: 0 auto;
}


#iphone
{
width: 340px;
float: left;
display: block;
margin: 20px 0 80px -30px;
position:fixed\9; 
}

#iphoneMobile
{
display: none;
}

#iconAndName
{
width:400px;
float: left;
margin: 100px 0 0 60px;
font-family: 'Roboto Condensed', Arial;
font-weight: 700;
color: #fff;
font-size: 15px;
}

#info
{
width:400px;
float: left;
margin: 0 0 0 60px;
font-family: 'Roboto Condensed', Arial;
font-weight: 700;
color: #fff;
font-size: 15px;
}

#icon
{
float: left;
margin-left: -7px;
-webkit-animation: bounce 1s; /* Safari and Chrome */
animation: bounce 1s;
-webkit-animation-delay: 1s;
animation-delay: 1s;
}

h1
{
font-size: 62px;
margin: 0px;
padding-left: 150px;
line-height: 130px;
text-shadow: 2px 1px 1px #163e10;
font-family: 'Roboto Condensed', sans-serif;
}

p
{
font-family: 'Roboto Slab', sans-serif;
font-weight: 300;
margin-top: 30px;
line-height: 20px;
}

h2
{
font-size: 22px;
font-weight: 100;
font-family: 'Roboto Condensed', sans-serif;
margin: 30px 0 0 0;
padding: 0;
}

h3
{
font-size: 22px;
font-weight: 100;
font-family: 'Roboto Condensed', sans-serif;
margin: 130px 0 0 0;
padding: 0;
color: black;
}

li
{
font-family: 'Roboto Slab', sans-serif;
font-weight: 300;
margin: 0 0 4px 0;
padding: 0;
}

ul
{
margin: 10px 0 0 20px;
padding: 0;
}

#appButton1
{
display: block;
width: 200px;
margin: 0 auto 20px auto;
}

#appButton
{
display: block;
width: 200px;
margin-top: 50px;
}

#footer
{
display: block;
clear: both;
width: 100%;
height: 50px;
text-align: center;
line-height: 50px;
font-family: 'Roboto Slab', sans-serif;
font-size: 13px;
font-weight: 400;
background-color: #c8c8c8;
color: #545454;
text-decoration: none;
}

#footer a
{
color: #545454;
text-decoration: none;
}

#footer a:hover
{
color: #3e641f;
}

#submitted
{
width: 260px;
height: 20px;
background-color: rgb(146,206,106); 
border:none;
font-family: 'Roboto Slab', sans-serif;
font-weight: 100;
font-size: 15px;
padding: 6px;
margin: 0;
color: #3c5d21;
}

#mainWrapper
{
max-width: 680px;
margin: 0 auto;
padding: 0 20px 120px 20px; 
overflow: hidden;
}

h1.blog
{
font-family: 'Roboto Slab', sans-serif; 
font-weight: 300;
font-size: 42px; 
text-align: left; 
line-height: 54px; 
margin: 60px 0 15px 0; 
padding: 0; 
color: rgb(80,80,82);
clear: both;
text-shadow: none;
}

h2.blog
{
font-family: 'Roboto Slab', sans-serif; 
font-weight: 300;
font-size: 18px; 
text-align: left; 
line-height: 38px; 
margin: 50px 0 0 0; 
padding: 0; 
color: rgb(80,80,82);
clear: both;
text-shadow: none;
font-weight: 900;
}

p.blog
{
font-family: 'Roboto Slab', georgia, serif; 
font-weight: 300; 
font-size: 18px; 
text-align: left; 
line-height: 28px; 
margin: 0 0 15px 0;
padding: 0; 
color: rgb(80,80,82);
}

#titleBox
{
width: 235px;
margin: 0 auto;
}

#title
{
float: right;
font-size: 24px;
font-family: 'Roboto Condensed', sans-serif;
line-height: 40px;
color: #3c5d21;
}

#smallIcon
{
float: left;
width: 30px;
padding: 5px;
}

h4.blog
{
font-style: italic;
font-family: 'Roboto Slab', georgia, serif; 
font-weight: 300; 
font-size: 20px; 
text-align: left; 
line-height: 28px; 
margin: -10px 0 0 0;
padding: 0 0 20px 0; 
color: rgb(80,80,82);	
}

h5.blog
{
font-family: 'Roboto Slab', georgia, serif; 
font-weight: 500; 
font-size: 13px; 
text-align: left; 
line-height: 28px; 
margin: -10px 0 0 0;
padding: 0 0 10px 0; 
color: rgb(80,80,82);
border-bottom: 1px solid #b1b1b1;
text-align: left;
}

#pressKit
{
margin: 60px auto;
width: 260px;
padding: 12px 8px;
border-radius: 8px;
font-family: 'Roboto Slab',  sans-serif;
text-transform: uppercase;
letter-spacing: 1px;
text-align: center;
color: white;
background-color: rgb(125,191,81);
font-size: 15px;
}

a:hover {color:white; opacity: 0.7; text-decoration: none;}
a:visited {color: white; text-decoration: none;}


/* Underlined links */
a:link.link {color: #3c5d21; text-decoration: none; border-bottom: 1px solid #3c5d21; padding: 0;}
a:hover.link {color: #518426 !important; text-decoration: none;}
a:visited.link {color: #3c5d21; text-decoration: none;}
a:active.link {color: #3c5d21; text-decoration: none;}

/* Underlined links */
a:link.link1 {color: rgb(80,80,82); text-decoration: none;}
a:hover.link1 {color: rgb(80,80,82) !important; text-decoration: none;  border-bottom: 1px solid #3c5d21; padding: 0;}
a:visited.link1 {color: rgb(80,80,82); text-decoration: none;}
a:active.link1 {color: rgb(80,80,82); text-decoration: none;}




@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}


input[type=text] 
{
float: left;
width: 180px;
height: 30px;
font-size: 15px;
font-family: 'Roboto Slab', sans-serif;
padding-left: 10px;
margin: 10px 0 0 0;
border: 1px solid #d2d2d2;
-webkit-appearance: none;
border-radius: 0;
}

input[type=submit] 
{
float: left;
width: 90px;
height: 34px;
background-color: rgb(146,206,106); 
border:none;
font-family: 'Roboto Slab', sans-serif;
font-weight: 300;
font-size: 14px;
padding: 6px;
margin: 10px 0 0 -1px;
color: #3c5d21;
letter-spacing: 1px;
-webkit-appearance: none;
border-radius: 0;
}




@media only screen 
and (min-width : 320px) 
and (max-width : 768px) 
{ 


#content
{
width: 100%;
background-color: #6ba63a;
margin: 0 auto;
padding: 0;	
}

#iphone
{
display: none;
}

#iphoneMobile
{
display: block;
background-image: url(links/images/iphone.png);
background-repeat: no-repeat;
background-size:100%;
width: 280px;
height: 400px;
margin: 20px auto;

}

#iphoneMobileWrapper
{
width: 100%;
}

#iconAndName
{
float: none;
margin: 0 auto;
}

#info
{
float: none;
width:80%;
text-align: center;
margin: 0 auto;
padding: 0;
}

#iconAndName
{
width: 280px;
padding-top: 30px;
padding-bottom: 10px;
}

#icon
{
width: 100px;
}

h1
{
font-size: 48px;
padding-left: 105px;
line-height: 100px;
}

h2
{	
border-bottom: 1px solid rgb(146,206,106);
padding-bottom: 10px;	
}

h2.blog
{	
border-bottom: none;
}

li
{
list-style: none;
}

ul
{
margin: 10px 0 0 0;
padding: 0;
}

#footer
{
height: auto;
line-height: 18px;
font-size: 11px;
padding: 6px 0;
}

input[type=text] 
{
width: 160px;
height: 27px;
font-size: 14px;
}

input[type=submit] 
{
width: 80px;
height: 29px;
background-color: rgb(146,206,106); 
margin-bottom: 60px;
}

#appButton
{
display: block;
width: 200px;
margin: 50px auto 0 auto;
padding-bottom: 40px;
}

h3
{
display: block;
margin-top: 40px;
}

#email
{
float: left;
width: 300px;
margin: 0 auto;
}

#titleBox
{
max-width: 180px;
margin: 0 auto;
}

#title
{
float: right;
font-size: 17px;
font-family: 'Roboto Condensed', sans-serif;
line-height: 40px;
color: #3c5d21;
}

a.nav1
{
padding: 0 15px;
}



}







 
 